.userInput{
    width: 20%;
    margin: 16px auto;
    border: 6px solid black;
    box-shadow: 0 6px 6px gold;
    padding: 20px;
    text-align: center;
    font-family: 'Lucida Sans Unicode';
}


.input {
    font-family: 'Lucida Sans Unicode';
    font-size: 15px;
}